*{
    box-sizing: border-box;
}

body{
	background-color: #ff7a7a;
	background-image: url(./bg-intro-desktop.png);
    font-family: Poppins, sans-serif;
    color: #fff;
    display: block;
    margin: 8px;
}

.parent{
   flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
}

.child1{
	flex: 1;
	font-size: 0 20px;
    display: block;
}

.child1 h1{
    font-size: 40px;
    line-height: 50px;
    display: block;
}

.child1 p {
    font-size: 15px;
    opacity: 0.8;
    display: block;
}

.child2{
    flex: 1;
    padding: 0 20px;
    display: block;
}

.try-it{
    background-color: #6055a5;
    padding: 11px;
    border-radius: 8px;
    margin-bottom: 21px;
    text-align: center;
}

.try-it p{
    font-size: 15px;
    opacity: 0.8;
    display: block;
}


.form input{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 6px rgba(0, 0, 0, 0.2);
    padding: 30px;
    margin-bottom: 30px;
    position: relative;
}

.form button{
    background-color: hsl(154, 59%, 51%);
    border-radius: 5px;
    border: 1px solid hsl(154, 59%, 45%);
    box-shadow: 0 2px hsl(154, 59%, 45%);
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100%;
}

.terms{
display: block;
    color: #bbb;
    font-size: 11px;
    font-weight: 500;
    margin-top: 25px;
    text-align: center;
}

.mother {
	width: 100%;
    background: white;
    padding: 30px;
    display: block;

}

.mother input{
	height: 50px;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 20px;

}

@media (max-width: 760px){
    .parent {
        display: flex;
        flex-direction: column;
        padding: 5px;
        text-align: center;
    }
}